.comment {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: -1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}

.userIcon {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: top;
}

.replyButton {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.9em;
    color: grey;
}

.replyUserIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: top;
}

.replies {
    width: inherit;
}

.seperator {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.username {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    color: dodgerblue;
}

.usernameTo {
    font-weight: bold;
    font-size: 0.9em;
    display: inline-block;
    color: grey;
}

.content {
    font-size: 1.2em;
}

.date {
    display: inline-block;
    font-weight: bold;
    color: grey;
}

.user {
    display: inline-block;
    width: 90%;
}

.replyInput {
    display: block;
    border-left: none;
    border-right: none;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
    width: 60%;
    height: 50px;
    max-width: inherit;
    padding: 5px;
}

.replyInput:focus {
    outline: none;
    background-color: whitesmoke;
}

.replyInputDiv {
    display: block;
}