@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@using System.IO
@using System.Linq;
@{
    string title = "MangaDB";
    string caption = "the lightning golden holy crossbow of manga databases";
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            @caption
        </title>
        <link rel="stylesheet" type="text/css" href="~/css/homepage.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <script>
            var $jq = jQuery.noConflict();

            class HomepageLoader {
                constructor() {
                    this.defaultRefreshTime = 5000;
                    this.currentRefreshTime = 5000,
                    this.timeout = null;
                }
                loadNews() {
                    $jq.ajax({
                        dataType: "json",
                        url: "home/news.aspx",
                        success: function (articles) {
                            $jq("#newsSlider").html("");
                            this.currentRefreshTime = this.defaultRefreshTime;
                            for(var valueIdx in articles) {
                                if(valueIdx == 0) {
                                    continue;
                                }
                                var value = articles[valueIdx];
                                var article = document.createElement("div");
                                $jq(article).addClass("article");
                                var title = document.createElement("p");
                                $jq(title).addClass("newsTitle");
                                $jq(title).html(value.title);
                                var content = document.createElement("p");
                                $jq(content).addClass("newsContent");
                                $jq(content).html(value.content);
                                $jq(article).append(title, content);
                                $jq("#newsSlider").append(article);
                            }
                            this.timeout = setTimeout(this.loadNews, this.currentRefreshTime);
                        },
                        timeout: 2000,
                        error: function(xhr, status, errorThrown) {
                            if(status === "timeout") {
                                if(timeout) {
                                    clearTimeout(this.timeout);
                                }
                                this.currentRefreshTime *= 2;
                                setTimeout(this.loadNews, this.currentRefreshTime);
                            } 
                        }
                        
                    });
                }
                loadFavorites() {
                    $jq.ajax({
                        dataType: "json",
                        url: "home/favorites.aspx",
                        success: function (imgSrcs) {
                            for(var valueIdx in imgSrcs) {
                                if(valueIdx == 0) {
                                    continue;
                                }
                                var value = imgSrcs[valueIdx];
                                var div = document.createElement("div");
                                $jq(div).addClass("allTimeFavorites");
                                var image = document.createElement("img");
                                $jq(image).attr("src", imgSrcs[0] + "/" + value + ".jpg");
                                $jq(div).append(image);
                                $jq("#allTimeFavoritesSlider").append(div);
                            }
                            $jq('#allTimeFavoritesSlider').slick({
                                vertical: true,
                                verticalSwiping: true,
                                appendArrows: "htmlString",
                                infinite: true,
                                speed: 300,
                                slidesToShow: 3,
                                autoplay: true,
                                autoplaySpeed: 8000,
                            });
                            this.loadNews();
                        }.bind(this)
                    });
                }
                loadTrending() {
                    $jq.ajax({
                        dataType: "json",
                        url: "home/trending.aspx",
                        success: function (imgSrcs) {
                            for(var valueIdx in imgSrcs) {
                                if(valueIdx == 0) {
                                    continue;
                                }
                                var value = imgSrcs[valueIdx];
                                var div = document.createElement("div");
                                $jq(div).addClass("trending");
                                var image = document.createElement("img");
                                $jq(image).attr("src", imgSrcs[0] + "/" + value + ".jpg");
                                $jq(div).append(image);
                                $jq("#trendingSlider").append(div);
                            }
                            $jq('#trendingSlider').slick({
                                vertical: true,
                                verticalSwiping: true,
                                arrows: false,
                                infinite: true,
                                speed: 300,
                                slidesToShow: 3,
                                autoplay: true,
                                autoplaySpeed: 8000,
                            });
                            this.loadFavorites();
                        }.bind(this)
                    });
                }
                loadNew() {
                    $jq.ajax({
                        dataType: "json",
                        url: "home/new.aspx",
                        success: function (imgSrcs) {
                            for(var valueIdx in imgSrcs) {
                                if(valueIdx == 0) {
                                    continue;
                                }
                                var value = imgSrcs[valueIdx];
                                var div = document.createElement("div");
                                $jq(div).addClass("new");
                                var image = document.createElement("img");
                                $jq(image).attr("src", imgSrcs[0] + "/" + value + ".jpg");
                                $jq(div).append(image);
                                $jq("#newSlider").append(div);
                            }
                            $jq('#newSlider').slick({
                                centerMode: true,
                                centerPadding: '60px',
                                infinite: true,
                                slidesToShow: 3,
                                responsive: [
                                    {
                                        breakpoint: 768,
                                        settings: {
                                            arrows: false,
                                            centerMode: true,
                                            centerPadding: '40px',
                                            slidesToShow: 3
                                        }
                                    },
                                    {
                                        breakpoint: 480,
                                        settings: {
                                            arrows: false,
                                            centerMode: true,
                                            centerPadding: '40px',
                                            slidesToShow: 1
                                        }
                                    }
                                ],
                                autoplay: true,
                                autoplaySpeed: 2000,
                            });
                            this.loadTrending();
                        }.bind(this)
                    });
                }
                loadAds() {
                    $jq.ajax({
                        dataType: "json",
                        url: "home/ads.aspx",
                        success: function (imgSrcs) {
                            for(var valueIdx in imgSrcs) {
                                if(valueIdx == 0) {
                                    continue;
                                }
                                var value = imgSrcs[valueIdx];
                                var div = document.createElement("div");
                                $jq(div).addClass("ad");
                                var image = document.createElement("img");
                                $jq(image).attr("src", imgSrcs[0] + "/" + value + ".jpg");
                                $jq(div).append(image);
                                $jq("#advertSlider").append(div);
                            }
                            $jq('#advertSlider').slick({
                                dots: true,
                                infinite: true,
                                speed: 300,
                                slidesToShow: 1,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            });
                            this.loadNew();
                        }.bind(this)
                    });
                }
                start() {
                    this.loadAds();
                }
            }

            $jq(document).ready(function() {
                var hpl = new HomepageLoader();
                hpl.start();
            });
        </script>
    </head>
    <body>
        <p id="title">@title</p>
        <p id="caption">
            <i>@("Welcome to " + caption)</i>
        </p>
        <p class="contentType">FEATURED</p>
        <div id="advertSlider">
        </div>
        <p class="contentType">NEW</p>
        <div id="newSlider">
        </div>
        <div id="sideBySideContainer">
            <div id="trendingContainer">
                <p class="contentType">TRENDING</p>
                <div id="trendingSlider">
                </div>
            </div>
            <div id="allTimeFavoritesContainer">
                <p class="contentType">ALL TIME FAVORITES</p>
                <div id="allTimeFavoritesSlider">
                </div>
            </div>
        </div>
        <p class="contentType">NEWS</p>
        <div id="newsSlider">
        </div>
    </body>
</html>