@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.IO
@using System.Linq;
@{
    string mangaName = "bleach";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/comments.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script>
            class GetComments {
                constructor() {
                    this.lastUpdated = 0;
                    this.userIconTemplate = document.createElement('img');
                    this.replyUserIconTemplate = document.createElement('img');
                    this.userNameTemplate = document.createElement('p');
                    this.dateTemplate = document.createElement('p');
                    this.textTemplate = document.createElement('div');
                    this.contentTemplate = document.createElement('p');
                    this.replyButtonTemplate = document.createElement('button');
                    this.repliesTemplate = document.createElement('div');
                    this.replyInputTemplate = document.createElement('div');
                    this.replyInputAreaTemplate = document.createElement('textArea');
                    this.replySendButton = document.createElement('button');
                    this.replyCancelButton = document.createElement('button');
                    this.commentTemplate = document.createElement('div');
                    this.seperator = document.createElement('p');
                    this.userToNameTemplate = document.createElement('p');
                    $(this.userIconTemplate).addClass('userIcon');
                    $(this.replyUserIconTemplate).addClass('replyUserIcon');
                    $(this.userNameTemplate).addClass('username');
                    $(this.dateTemplate).addClass('date');
                    $(this.textTemplate).addClass('user');
                    $(this.contentTemplate).addClass('content');
                    $(this.replyButtonTemplate).addClass('replyButton');
                    $(this.replySendButton).addClass('replyButton');
                    $(this.replyCancelButton).addClass('replyButton');
                    $(this.repliesTemplate).addClass('replies');
                    $(this.replyInputTemplate).addClass('replyInputDiv');
                    $(this.replyInputAreaTemplate).addClass('replyInput');
                    $(this.commentTemplate).addClass('comment');
                    $(this.userToNameTemplate).addClass('usernameTo');
                    $(this.seperator).addClass('seperator');
                    $(this.replyButtonTemplate).html('&#8618; reply');
                    $(this.replySendButton).html("send");
                    $(this.replyCancelButton).html("cancel");
                    $(this.seperator).html("&#9679;");
                }
                refresh() {
                    $.get(
                        "/GetComments/@mangaName/" + this.lastUpdated,
                        this.process.bind(this),
                        "json"
                    );
                }
                process(commentsData) {
                    for (var commentId in commentsData) {
                        var commentData = commentsData[commentId];
                        var userIcon = $(this.userIconTemplate).clone();
                        var userName = $(this.userNameTemplate).clone();
                        var date = $(this.dateTemplate).clone();
                        var text = $(this.textTemplate).clone();
                        var content = $(this.contentTemplate).clone();
                        var replyButton = $(this.replyButtonTemplate).clone();
                        var replies = $(this.repliesTemplate).clone();
                        var comment = $(this.commentTemplate).clone();
                        userName.html(commentData['username']);
                        userIcon.attr("src", commentData['uImgSrc']);
                        date.html(commentData["date"]);
                        content.html(commentData['content']);
                        var repliesData = commentData['replies'];
                        for (var repliesIdx in repliesData) {
                            var replyData = repliesData[repliesIdx];
                            var replyUserIcon = $(this.replyUserIconTemplate).clone();
                            var replyUserName = $(this.userNameTemplate).clone();
                            var replyUserToName = $(this.userToNameTemplate).clone();
                            var replyDate = $(this.dateTemplate).clone();
                            var replyText = $(this.textTemplate).clone();
                            var replyContent = $(this.contentTemplate).clone();
                            var replyReplyButton = $(this.replyButtonTemplate).clone();
                            var reply = $(this.commentTemplate).clone();
                            replyUserIcon.attr("src", replyData['uImgSrc']);
                            replyUserName.html(replyData['username']);
                            replyUserToName.html("&#10551; " + replyData['usernameTo']);
                            replyDate.html(replyData["date"]);
                            replyContent.html(replyData['content']);
                            replyText.append(replyUserName, $(this.seperator).clone(), replyUserToName, $(this.seperator).clone(), replyDate, replyContent, replyReplyButton);
                            reply.append(replyUserIcon, replyText);
                            replies.append(reply);
                            replyReplyButton.click(this.addReply.bind(this, replyReplyButton));
                        }
                        text.append(userName, $(this.seperator).clone(), date, content, replyButton, replies);
                        comment.append(userIcon, text);
                        $('#comments').append(comment);
                        replyButton.click(this.addReply.bind(this, replyButton));
                    }
                }
                addReply(replyButton) {
                    var replyBox = $(this.replyInputTemplate).clone();
                    var replyInput = $(this.replyInputAreaTemplate).clone();
                    var sendButton = $(this.replySendButton).clone();
                    var cancelButton = $(this.replyCancelButton).clone();
                    cancelButton.click(function(replyBox, replyButton) {
                        replyBox.replaceWith(replyButton);
                        replyButton.click(this.addReply.bind(this, replyButton));
                    }.bind(this, replyBox, replyButton));
                    sendButton.click(function(replyBox, replyButton) {
                        replyBox.replaceWith(replyButton);
                        replyButton.click(this.addReply.bind(this, replyButton));
                    }.bind(this, replyBox, replyButton));
                    $(replyBox).append(replyInput, sendButton, $(this.seperator).clone(), cancelButton);
                    replyButton.replaceWith(replyBox);
                }
            }
            var obj = new GetComments();
        </script>
    </head>
    <body onload="obj.refresh()">
        <div id="comments">
        </div>
    </body>
</html>