@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @ViewData["mangaName"];
*@
@using System.IO
@using System.Linq;
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/mangalist.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script>
            var $jq = jQuery.noConflict();
            function getManga() {
                $jq.ajax({
                    dataTye: "json",
                    url: "list.aspx",
                    success: function(mangaList) {
                        mangaList.sort(compareName);
                        var letter = 'A';
                        for(var idx in mangaList) {
                            var manga = mangaList[idx];
                            if (!manga.name.startsWith(letter)) {
                                while (!manga.name.startsWith(letter)) {
                                    letter = nextChar(letter);
                                }
                                var lettHead = document.createElement('div');
                                $jq(lettHead).addClass('letter-head');
                                $jq(lettHead).html(letter);
                                var gridRow = document.createElement("div");
                                $jq(gridRow).addClass('row');
                                $jq(gridRow).append(lettHead);
                                $jq('#mainDiv').append(gridRow);
                                gridRow = document.createElement("div");
                                $jq(gridRow).addClass('row');
                            }
                            if(gridRow.childElementCount > 7) {
                                $jq('#mainDiv').append(gridRow);
                                gridRow = document.createElement("div");
                                $jq(gridRow).addClass('row');
                                gridRow = null;
                            }
                            var gridLink = document.createElement("a");
                            $jq(gridLink).attr('href', '/manga/' + manga.linkName + '/index.aspx');
                            var gridCell = document.createElement("div");
                            $jq(gridCell).addClass('col-md-2');
                            //fill gridCell with data
                            var image = document.createElement("img");
                            $jq(image).attr('src', manga.imageUri);
                            $jq(image).addClass('mangaImage');
                            var name = document.createElement("p");
                            $jq(name).html(manga.name);
                            $jq(name).addClass('mangaTitle');
                            $jq(gridCell).append(image, name);
                            $jq(gridLink).append(gridCell);
                            $jq(gridRow).append(gridLink);
                            if(gridRow != null) {
                                $jq('#mainDiv').append(gridRow);                            
                            }
                        }
                    }
                });
            }
            function compareName(a, b) {
                return a.name.localeCompare(b.name);
            }
            function nextChar(c) {
                return String.fromCharCode(c.charCodeAt(0) + 1);
            }
        </script>
    </head>
    <body onload="getManga()">
        <p class="contentType">LIST OF MANGA</p>
        <div id="mainDiv" class="container">
            
        </div>
    </body>
</html>