@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.IO
@using System.Linq;
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/comments.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script>
        </script>
    </head>
    <body onload="obj.refresh()">
        <p>Hello @ViewData["mangaName"]</p>
    </body>
</html>