@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @ViewData["mangaName"];
*@
@using System.IO
@using System.Linq;
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/mangapage.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script>
            var $jq = jQuery.noConflict();
            $jq(document).ready(function() {
                getComments = function() {
                    $("#mangaComments").attr("src", '/comments/@ViewData["mangaName"]');
                    console.log(document.getElementById("mangaComments"));
                }
                getChapters = function() {
                    $jq.ajax({
                        dataType: "json",
                        url: "chapters.aspx",
                        success: function (chaptersList) {
                            var _volumes = document.createElement("ul");
                            for(var volumeIdx in chaptersList.volumes) {
                                var volume = chaptersList.volumes[volumeIdx];
                                var _volume = document.createElement("li");
                                var _volumeData = document.createElement("div");
                                _volumeData.innerHTML = "Volume " + volume.volumeNumber;
                                var _volumeChapters = document.createElement("ul");
                                for(var chapterIdx in volume.chapters) {
                                    var chapter = volume.chapters[chapterIdx];
                                    var _chapter = document.createElement("li");
                                    var _chapterData = document.createElement("div");
                                    _chapterData.innerHTML = "Chapter " + chapter.chapterNumber;
                                    _chapter.appendChild(_chapterData);
                                    _volumeChapters.appendChild(_chapter);
                                }
                                _volume.appendChild(_volumeData);
                                _volume.appendChild(_volumeChapters);
                                _volumes.appendChild(_volume);
                            }
                            $("#mangaChapters").append(_volumes);
                            getComments();
                        }
                    });
                }
                getSummary = function() {
                    $jq.ajax({
                        dataType: "json",
                        url: "summary.aspx",
                        success: function (summaryData) {
                            $jq('#mangaSummary').html(summaryData.summary);
                            getChapters();
                        }
                    });
                }
                getMetadata = function() {
                    $jq.ajax({
                        dataType: "json",
                        url: "metadata.aspx",
                        success: function (metadata) {
                            $jq('#mangaHeader').css('background-image', "url(" + metadata.imageUri + ")");
                            $jq('#mangaName').html(metadata.name + " - ");
                            $jq('#mangaNameJp').html(metadata.japaneseName);
                            $jq('#mangaAuthor').html("<p class='metaType'>Author:</p> " + metadata.author);
                            $jq('#mangaPublisher').html("<p class='metaType'>Publisher:</p> " + metadata.publisher);
                            $jq('#mangaVolumeCount').html("<p class='metaType'>Volumes:</p> " + metadata.volumeCount);
                            $jq('#mangaChapterCount').html("<p class='metaType'>Chapter:</p> " + metadata.chapterCount);
                            $jq('#mangaWebsite').html(metadata.website);
                            $jq('#mangaWebsite').attr('href', metadata.website);
                            $jq('#mangaFansite').html(metadata.fansite);
                            $jq('#mangaFansite').attr('href', metadata.fansite);
                            getSummary();
                        }
                    });
                }
                getMetadata();
            })
        </script>
    </head>
    <body>
        <div id="mangaHeader">
            <div id="mangaTitle">
                <p id="mangaName"></p>
                <p id="mangaNameJp"></p>
            </div>
        </div>
        <div id="mangaContent">
            <div id="mangaLeftPane">
                <p class="contentType">PLOT SYNOPSIS</p>
                <p id="mangaSummary"></p>
            </div>
            <div id="mangaRightPane">
                <p class="contentType">INFO</p>
                <div id="mangaMetadata">
                    <p id="mangaAuthor"></p>
                    <p id="mangaPublisher"></p>
                    <p id="mangaChapterCount"></p>
                    <p id="mangaVolumeCount"></p>
                </div>
                <div class="linksDiv">
                    <p class="contentType">LINKS</p>
                    <div>
                        <p class="metaType">Official Website:</p>
                        <a id="mangaWebsite"></a>
                    </div>
                    <div>
                        <p class="metaType">Fansites:</p>
                        <a id="mangaFansite"></a>
                    </div>
                </div>
                <p class="contentType">CHAPTERS</p>
                <div id="mangaChapters">
                </div>
                
            </div>
        </div>
        <div class="commentsContainer">
            <p class="contentType">Comments</p>
            <iframe id="mangaComments">
            </iframe>
        </div>
    </body>
</html>