@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.IO
@using System.Linq;
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/mangapage.css" />
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/mangapage.js"></script>
        <script>
        </script>
    </head>
    <body onload="obj.refresh()">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img id="volumeCover">
                    Random text
                </div>
                <div class="col-md-8">
                    <p id="title">@ViewData["mangaName"]</p>
                    <p id="titleOriginal">東京喰種トーキョーグール</p>
                    <p id="author">Ishida Sui</p>
                    <p id="publisher">Shueisha</p>
                </div>
            </div>
            <div class="row">
                <div class="container" id="chapterList">
                </div>
            </div>
        </div>
    </body>
</html>